$color-body: #07080A;
$color-primary: #081011;
$color-secondary: #FFDA00;

$font-weight-bold: bold;
$font-weight-regular: normal;

$border-radius: 10px;

$padding-xs: 2em;
$padding-md: 4em;

$screen-xl: 1440px;
$screen-lg: 1310px;
$screen-md: 990px;
$screen-xs: 768px;
