.button-row {
	display: flex;
	align-items: flex-start;
	flex-flow: row wrap;
	gap: 15px;

	&--left {
		justify-content: flex-start;
	}
	&--center {
		align-items: center;
		justify-content: center;
	}
	&--right {
		justify-content: flex-end;
	}
}
