.faq {
	display: grid;
	grid-gap: 10px;
	margin: 2em 0 0 0;
	padding: 2em 0 0 0;
	list-style: none;
	background: radial-gradient(49.41% 64.58% at 49.4% 0, hsla(0, 0%, 100%, .03) 0, hsla(0, 0%, 100%, 0) 100%);
	border-top: 1px solid;
	border-image-source: linear-gradient(90deg, transparent 0, hsla(0, 0%, 100%, .19) 30%, hsla(0, 0%, 100%, .19) 70%, transparent);
	border-image-slice: 1;

	&__item {

		+ .faq__item {
			border-top: 1px solid;
			border-image-source: linear-gradient(90deg, hsla(0, 0%, 100%, .025) 0, hsla(0, 0%, 100%, .1) 40%, hsla(0, 0%, 100%, .1) 60%, hsla(0, 0%, 100%, .025));
			border-image-slice: 1;
		}

		p {
			&:first-of-type {
				margin-top: 0;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&-heading {
			list-style: none;
			user-select: none;
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: calc($padding-xs / 2) 0;
			outline: none;

			&-title {
				font-weight: $font-weight-bold;
				max-width: 90%;

				@media (min-width: $screen-md) {
					font-size: 120%;
				}
			}
			&-icon {
				display: inline-block;
				background-image: url('../../images/chevron-down.svg');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				width: 15px;
				height: 15px;
				flex-shrink: 0;
				transform: scaleY(1);
				transition: transform .3s;
			}

			&::-webkit-details-marker {
				display: none;
			}
		}

		&[open] {
			.faq__item-heading-icon {
				transform: scaleY(-1);
				transition: transform .3s;
			}

			p {
				opacity: .5;
			}

			p:last-of-type {
				padding: $padding-xs 0;
				margin: 0;
			}
		}
	}
}
