.feature-slider {
	margin: 3em 0 0 0;

	&__item {
		max-width: 750px;
		border-radius: $border-radius;
		padding: $padding-xs;
		background: linear-gradient(137deg, $color-primary 4.87%, $color-body 75.88%);
		border-top: 1px solid hsla(0, 0%, 100%, .06);
		border-right: 1px solid hsla(0, 0%, 100%, .06);
		border-left: 1px solid hsla(0, 0%, 100%, .06);
		box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .1);

		@media (min-width: $screen-md) {
			padding: $padding-md;
		}

		&-heading {
			display: flex;
			align-items: center;
			gap: 20px;
			margin: 0 0 1em 0;

			&-icon {
				display: block;
				flex-shrink: 0;
				width: 35px;
				height: 35px;
				filter: drop-shadow(0 0 8px $color-secondary);
			}

			&-title {
				margin: 0;
			}

		}

		&-text {
			opacity: .5;
			margin: 0;

			@media (min-width: $screen-md) {
				max-width: 80%;
			}
		}
	}

	&__nav {
		margin-top: 2em;
		display: flex;
		align-items: center;

		&-arrows {
			display: flex;
			gap: 10px;
			align-items: center;

			&-arrow {
				display: inline-flex;
				font-size: 0;
				cursor: pointer;
				background-image: url('../../images/arrow-left.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 15px;
				border-radius: 100px;
				width: 40px;
				height: 40px;
				flex-shrink: 0;
				box-shadow: inset 0 0 0 1px rgba(#fff, .2);

				&--next {
					transform: scaleX(-1);
				}

				&.swiper-button-disabled {
					box-shadow: inset 0 0 0 1px #fff;
					opacity: .2;
				}
			}
		}

		&-scrollbar {
			width: 125px;
			height: 2px;
			margin-left: 30px;
			background-color: lighten($color-primary, 5%);

			.swiper-scrollbar-drag {
				background: $color-secondary;
			}
		}
	}
}
