.logo-grid {
	display: flex;
	gap: 60px;
	mask-image: linear-gradient(90deg, transparent 0.75rem, #fff 8rem, #fff calc(100% - 8rem), transparent calc(100% - 0.75rem));
	overflow: hidden;

	&__marquee {
		animation: marquee 50s linear infinite;
		display: flex;
		flex-shrink: 0;
		gap: 60px;

		@keyframes marquee {
			0% {
				transform: translateX(0)
			}

			to {
				transform: translateX(-100%)
			}
		}

		&-item {
			display: flex;
			gap: 60px;

			&-visual {
				pointer-events: none;
				user-select: none;
				display: block;
				height: 30px;
				width: 100%;
				opacity: .5;
			}
		}
	}
}
