.logo {
	display: block;

	&__visual {
		display: block;
		max-width: 100px;

		@media (min-width: $screen-md) {
			max-width: 130px;
		}
	}

	&__pay-off {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		word-wrap: normal !important;
	}
}
