.logo-grid {
	mask-image: linear-gradient(90deg, transparent 0.75rem, #fff 8rem, #fff calc(100% - 8rem), transparent calc(100% - 0.75rem));
	overflow: hidden;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;

		@media (min-width: $screen-md) {
			gap: 60px;
		}

		&-item {
			flex-shrink: 0;

			&-visual {
				pointer-events: none;
				user-select: none;
				display: block;
				max-width: 80px;
				width: 100%;
				opacity: .5;

				@media (min-width: $screen-md) {
					max-width: 120px;
				}
			}
		}
	}
}
